<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pilipili.server.mapper.VideoMapper">


    <select id="selectVideoes" resultType="com.pilipili.server.dto.VideoDto">
        SELECT
            v.*,
            u.NAME AS username
        FROM
            video v
        JOIN user u ON v.user_id = u.id
        ${ew.customSqlSegment}
    </select>
    <select id="selectNewList" resultType="com.pilipili.server.dto.VideoDto">
        SELECT
            v.*,
            u.`name` as username
        FROM video v
        JOIN user u	ON v.user_id = u.id
        ${ew.customSqlSegment}
    </select>
</mapper>
