<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pilipili.server.mapper.VideoCategoryMapper">

    <select id="listByVideoId" resultType="com.pilipili.server.dto.CategoryDto">
        SELECT
            c.id,
            c.parent,
            c.`name`,
            c.sort
        FROM video_category vc
        JOIN category c ON c.id = vc.category_id
        ${ew.customSqlSegment}
    </select>
</mapper>
